<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Someone wants to be your friend on MyM!</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="https://rawgithub.com/dhgamache/Skeleton/master/stylesheets/base.css">
  <link rel="stylesheet" href="https://rawgithub.com/dhgamache/Skeleton/master/stylesheets/skeleton.css">
  <link rel="stylesheet" href="https://rawgithub.com/dhgamache/Skeleton/master/stylesheets/layout.css">

  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  </style>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <!-- Primary Page Layout
  ================================================== -->

  <div class="container">
    
    <!-- Give column value in word form (one, two..., twelve) -->
    <div class="sixteen columns">
      <h3><%= @user.username %> has requested to be your friend on MyM!</h3>
      <p>Click the link below to confirm the friendship</p>
      <p>
        <a href="http://54.225.76.23:3000/confirm_friendship?uid=<%= @friend.id %>&fid=<%= @user.id %>">Confirm</a>
      </p>

      <hr />      
      <footer>Copyright &copy; 2013 - MyM Corp.</footer>
    </div>

  </div><!-- container -->

<!-- End Document
================================================== -->
</body>
</html>

