<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @user.username %> has requested to be your friend on MyM!</h3>
    <p>Click the link below to confirm the friendship</p>
    <p>
    <a href="http://54.225.76.23:3000/confirm_friendship?uid=<%= @friend.id %>&<fid=<%= @user.id %>">Confirm</a>
    </p>
  </body>
</html>
